<h1>Hello, {{vm.name}}! What are you up to so late? SERIOUSLY 
    If YOU CALL me and I tell you i'm busy on a very important project
    for the future of my career in what I love and you insist on me dropping 
    my time to solve your problem that is from your poor planning Is a FUCKING 
    DICK MOVE!! I understand your importance but I have importance too, as adults
    we just need to know how to get shit done.
    
    I'm leaving this here because I'm fucking finishing this class tonight, I've HAD 
    ENOUGH INCOMPLETES. I AM A PROGRAMMER, I SHALL ACHIEVE !
</h1>

<ul>
    <li ng-repeat="film in vm.films">{{film.title}}</li>
</ul>